.screenFiller {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 0;
  left: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.rtl {
  direction: rtl;
}

.spaceBet {
  justify-content: space-between;
}

.selfCenter {
  align-self: center;
}

/* check how to make with variable */
.m-6 {
  margin-left: 6px;
}

.gap-60 {
  gap: 60px;
}

.topBar {
  gap: 10px;
  margin-bottom: 30px;
}

.slider {
  padding: 30px;
  width: 1000px;
  height: 500px;
  align-self: center;
  background-color: #7fa0e1;
  border-radius: 30px;
}

.slideContent {
  width: 450px;
  margin-right: 80px;
}

.height70 {
  height: 70%;
}

.green {
  background-color: green;
}

h1 h4 {
  font-family: "Sunday", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 100;
}
