/* ################ Fonts ################ */
@font-face {
  font-family: "Sunday_Normal";
  src: url(fonts/Sunday-Normal.woff);
}

@font-face {
  font-family: "Sunday_Medium";
  src: url(fonts/Sunday-Medium.woff);
}

@font-face {
  font-family: "Assistant_Regualr";
  src: url(fonts/Assistant-Regular.woff);
}

@font-face {
  font-family: "Assistant_Bold";
  src: url(fonts/Assistant-Bold.woff);
}

/* h1 h4 {
  font-family: "Sunday", sans-serif;
} */

h1 {
  font-size: 95px;
  font-weight: 400;
  margin: 0;
  font-family: "Sunday_Medium";
  line-height: 80%;
  color: #231f20;
  white-space: pre-wrap;
}

h4 {
  font-size: 21px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-family: "Assistant_Regualr";
  line-height: 129.4%;
  color: #231f20;
  /* font-weight: 400; */
  white-space: pre-wrap;
}

h3 {
  font-size: 17px;
  padding: 0;
  margin: 0;
  font-family: "Assistant_Regualr";
  line-height: 129.4%;
  color: #231f20;
  /* font-weight: 400; */
  white-space: pre-wrap;
}

.textList {
  font-size: 26px;
  padding: 0;
  margin: 0;
  font-family: "Sunday_Normal";
  line-height: 129.4%;
  color: #231f20;
  letter-spacing: -0.6px;
  /* font-weight: 400; */
  white-space: pre-wrap;
}

h5 {
  text-align: right;
  font-size: 19px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 129.438%;
  font-family: "Assistant_Regualr";
  color: #231f20;
  white-space: pre-wrap;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 19px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-family: "Assistant_Bold";
  color: #231f20;
  white-space: pre-wrap;
  line-height: 129.438%;
}

.finishingSlideTitle {
  font-size: 110px;
  font-weight: 600;
  margin: 0;
  font-family: "Sunday_Normal";
  line-height: 80%;
  color: #f6efe5;
}

.finishingSlideNextButtonText {
  font-size: 25px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-family: "Assistant_Regualr";
  line-height: 129.4%;
  color: #f6efe5;
  /* font-weight: 400; */
}

.notbold {
  font-weight: 400;
}

/* ################ Buttons ################ */

.questionBtn {
  background-color: #f6efe5;
  border-radius: 30px;
  min-width: 140px;
  border: 1px solid #000;
  padding: 14px 54px;
  cursor: pointer;
}
.active {
  background: #a26af4;
  border-radius: 30px;
}

.questionBtn:not(.active):hover {
  background: rgba(162, 106, 244, 0.8);
  transition: 700ms;
}

/* ################ Main Page ################ */
.fullScreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ################ Common uses ################ */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.rtl {
  direction: rtl;
}

.spaceBet {
  justify-content: space-between;
}

.selfCenter {
  align-self: center;
}

.m-6 {
  margin-left: 6px;
}

.gap-60 {
  gap: 60px;
}

.gap-30 {
  gap: 30px;
}
/* .gap-400 {
  gap: 100px;
} */

.height70 {
  height: 70%;
}

.green {
  background-color: green;
}

.parent {
  display: flex;
}

.cursor {
  cursor: pointer;
}

/* ################ Accordion ################ */

.accordion {
  direction: rtl;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f6efe5;
}

.rightBar {
  background-color: #a26af4;
  border-left: 2px solid black;
  padding-top: 20px;
  width: 56px;
  display: flex;
  justify-content: center;
}

.selectedDiv {
  flex-grow: 8;
  border-left: 2px solid black;
  transition: flex 0.3s linear;
}

.regDiv {
  flex-shrink: 1;
  width: 68px;
  border-left: 2px solid black;
  transition: flex 0.3s linear;
  padding-top: 30px;
}

.finishedDiv {
  background-color: #a26af4;
}

.regDiv:hover {
  background-color: #a26af4;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.accordionBanner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 27px;
}

.accordionFirstTabBanner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.verticalWriting {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.tabIcon {
  width: 18px;
  height: 18px;
}

/* ################ Slider ################ */

.slider {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  gap: 40px;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 78%;
  padding-right: 80px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 220px;
  justify-content: space-between;

}

.logo-container {
  display: flex;
  gap: 12px;
}

.sliderTop {
  align-items: center;
  gap: 25px;
  padding-right: 35px;
}

.sliderTopFirstTab {
  align-items: center;
  padding-right: 35px;
  gap: 10px;
}

.slidesStepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 15px;
  margin-top: 0;
  margin-bottom: -30px;
}

.slideContent {
  max-width: 600px;
  /* height: 600px; */
  margin-right: 120px;
  gap: 36px;
  /* background-color: aquamarine; */
}

.tasksSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.task {
  flex: 0 0 50%;
  gap: 10px;
}

.singleSelectionFullWidth {
  gap: 10px;
}

.radioGroupFullWidth {
  gap: 30px;
}

.css-1q04gal-MuiDateCalendar-root {
  background-color: #f6efe5;
}

.finishingSlide {
  background-color: #a26af4;
  /* animation: fillScreen 1.5s ease-out forwards; */
}


/* @keyframes fillScreen {
  from {

    height: bottom;
    background-color: #f6efe5;
  }
  to {
    height: top;
    background-color: #a26af4;
  }
} */

.nextSlideButton {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: flex-start;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 20px;
  transition: 1000ms;
  cursor: pointer;
  gap: 5px;
  background-color: #f6efe5;
}

.disabledButton {
  opacity: 30%;
  cursor: auto;
  pointer-events: none;
  transition: 0.01s;
}

.nextSlideButtonFinishingSlide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: flex-start;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 20px;
  transition: 1000ms;
  cursor: pointer;
  gap: 5px;
  background-color: #a26af4;
  margin-right: auto;
}

.nextSlideWestIcon:hover {
  transition: 700ms;
  transform: translatex(-10px);
}

.nextSlideCheckIcon:hover {
  transition: 700ms;
  transform: translateY(-10px);
}

.nextbutton {
  font-family: "Assistant_Regualr";
  transition: font-family 700ms ease;
}

.creditsBar {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
}

/* ################ Tasks ################ */

/* checklist */
.checkListOptionExp {
  padding-right: 73px;
  flex-direction: row;
  margin-left: 20px;
}

.checkBox {
  width: 60px;
  color: #000;
  /* background-color: #a26af4; */
  border-radius: 6px;
}

.tabname {
  font-weight: 700;
}

.MuiCollapse-wrapperInner.MuiCollapse-vertical.css-9l5vo-MuiCollapse-wrapperInner {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items in the center horizontally */
}
/* ################ Single Selection ################ */
.css-u4tvz2-MuiFormLabel-root {
  /*This is the title of the single selection*/
  color: black;
  font-family: "Sunday_Normal";
  font-size: 30px;
}

.css-u4tvz2-MuiFormLabel-root.Mui-focused {
  /*To keep the color black after clicking*/
  color: black;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "Assistant_Regualr";
  font-size: 23px;
  font-weight: 100;
}

.singleselectionText .MuiRadio-root {
  font-family: "Assistant_Regualr";
}

.css-1vooibu-MuiSvgIcon-root:hover {
  transition: 700ms;
  transform: translatex(10px);
}

.css-1pbdpej-MuiButtonBase-root-MuiIconButton-root {
  background-color: none;
}

.css-1pbdpej-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: #f6efe5;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Assistant_Regualr";
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Assistant_Regualr";
}
/* ################ Old Components ################ */

.topBar {
  gap: 10px;
  margin-bottom: 30px;
}

.tabsBar {
  justify-content: center;
  gap: 50px;
}
